DATABASE_URL=postgresql+asyncpg://postgres:naveenpranesh@db:5432/swiftpaste
DATABASE_SYNC_URL=postgresql+psycopg://postgres:naveenpranesh@db:5432/swiftpaste

ENV=dev

API_COMMAND=uv run uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
API_MOUNT=.:/app

BACKEND_BASE_URL=http://localhost:8000
FRONTEND_BASE_URL=http://localhost:8000
REDIS_URL=redis://redis:6379/0
CACHE_TTL_SECONDS=900
ALLOWED_ORIGINS=["*"]
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DEBUG=true

PGADMIN_DEFAULT_EMAIL=yourdefaultpgemail@example.com
PGADMIN_DEFAULT_PASSWORD=yourdefaultpgpassword