/app/__pycache__
/alembic/versions
/app/core/auth/__pycache__
/app/db/__pycache__
/app/models/__pycache__
/app/schemas/__pycache__
/app/core/__pycache__
/alembic/__pycache__
/app/core/auth/oauth/__pycache__
.env
.env
/app/api/__pycache__
/app/api/v1/__pycache__
/app/api/v1/routes/__pycache__
/app/services/__pycache__
/app/utils/__pycache__
/app/core/middleware/__pycache__
/.venv
/app/metrics/__pycache__
/app/cache/__pycache__
